<v-container fluid>
    <v-row>
        <v-col>
            <v-select :items="difficulties" label="Difficulty" v-model="difficulty">

            </v-select>
        </v-col>
        <v-col>
            <v-select :items="categories" item-text="name" item-value="id" label="Category" v-model="category">
            </v-select>
        </v-col>
    </v-row>
    <v-row>
        <v-col>
            <v-card elevation="3">
                <v-card-title
                        style="word-break: normal"
                        v-html="question.getQuestion()"
                ></v-card-title>
                <v-card-text>
                    <v-card-title style="word-break: normal"
                    >Category: {{ question.getCategory() }}
                    </v-card-title>
                    <v-card-title>Difficulty: {{ question.getDifficulty() }}</v-card-title>
                    <v-divider class="mx-4"></v-divider>
                    <v-list dense>
                        <v-list-item-title>Choices</v-list-item-title>
                        <v-list-item-group
                                active-class="deep-purple--text text--accent-4"
                                ref="choicesList"
                                v-model="selection"
                        >
                            <v-list-item
                                    :color='
                  awaitingAnswer
                    ? "black"
                    : (oldSelection == index
                    ? "red"
                    : "black")
                '
                                    :disabled="!awaitingAnswer"
                                    :key="index"
                                    :value="index"
                                    v-for="(String item, index) in choices"
                            >
                                <v-list-item-content>
                                    <v-list-item-title v-html="item"></v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-card-text>
                <v-row align="center" justify="space-around">
                    <v-btn
                            :disabled="!awaitingAnswer"
                            @click="answer"
                            color="primary"
                            depressed
                            ref="answer_button"
                    >
                        Answer
                    </v-btn>
                    <v-btn
                            :disabled="awaitingAnswer"
                            @click="next"
                            color="primary"
                            depressed
                            ref="next_button"
                    >
                        Next
                    </v-btn>
                </v-row>
            </v-card>
        </v-col>
        <v-col>
            <v-spacer/>
        </v-col>
        <v-col>
            <players/>
        </v-col>
    </v-row>
    <div id="error">
        <v-snackbar
                color="error"
                right="right"
                top="top"
                v-model="showError"
        >
            {{ error }}
            <v-btn @click.native="showError = false" color="white" text>Close</v-btn>
        </v-snackbar>
    </div>

</v-container>