*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.classpath
.gradle
.gwt
.idea
.project
.settings
bin
build
**/*.iml
classes

*/.classpath
*/.gradle
*/.gwt
*/.idea
*/.project
*/.settings
*/bin
*/build
*/gwt-unitCache
*/generated-sources
**/war/WEB-INF/classes
**/war/WEB-INF/lib/
**/war/WEB-INF/deploy/

*/out

*/node_modules
**/bundle.js
