<v-container fluid>
    <v-row>
        <v-col cols="12" md="6">
            <v-text-field
                    v-model="inputTodo"
                    name="todo"
                    label="Enter Text"
                    v-on:keyup.enter="addToTable"
            ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
            <v-btn color="secondary" v-on:click="addToTable">Add</v-btn>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="12">
            <v-btn color="error" v-on:click="removeFromTable">Remove</v-btn>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="12">
            <div v-bind:style="tableHeight">
                <ag-grid-vue style="height: 100%; width: 100%;"
                             class="ag-theme-material"
                             :columnDefs="columnDefs"
                             :rowData="rowData"
                             :resizable="true"
                             :sortable="true"
                             :filter="true"
                             rowSelection="multiple"
                             pagination="true"
                             @gridReady="onGridReady"
                >
                </ag-grid-vue>
            </div>
        </v-col>
    </v-row>
    <div id="error">
        <v-snackbar
                top="top"
                right="right"
                v-model="showError"
                color="error"
        >
            {{ error }}
            <v-btn text color="white" @click.native="showError = false">Close</v-btn>
        </v-snackbar>
    </div>

</v-container>