<v-responsive>
    <v-container fill-height>
        <v-row align="center">
            <v-col cols="12">
                <h4 class="display-3">Games Demo</h4>
                <span class="subheading">This is a simple app built with <a href="https://vuegwt.github.io/vue-gwt/" target="_blank">vue-gwt</a> and <a
                        href="https://vuetifyjs.com/en/" target="_blank">vuetify</a> in a gradle build system environment backed by webpack.</span>
                <v-divider class="my-3"></v-divider>
            </v-col>
        </v-row>
        <v-row align="center">
            <v-col>
                <v-btn @click="newGame" color="primary">Start New Game</v-btn>
            </v-col>
            <v-col>
                <!--
                <v-btn @click="joinGameInput = true" color="primary" v-if="!joinGameInput">Join Existing Game</v-btn>
                <div v-else>
                    <v-row>
                        <v-col>
                            <v-text-field class="shrink mx-4" dense hide-details="auto" label="Game Key" placeholder="ABC" single-line
                                          v-model="gameKeyInput"></v-text-field>
                        </v-col>
                        <v-col>
                            <v-btn @click="joinGame" color="primary">Join</v-btn>
                        </v-col>
                    </v-row>
                </div>
                -->
            </v-col>
        </v-row>
        <v-row v-if="!gameKey.isEmpty()">
            <span>Current Game Key: {{gameKey}}</span>
        </v-row>
    </v-container>
    <div id="error">
        <v-snackbar
                color="error"
                right="right"
                top="top"
                v-model="showError"
        >
            {{ error }}
            <v-btn @click.native="showError = false" color="white" text>Close</v-btn>
        </v-snackbar>
    </div>
</v-responsive>