<v-responsive>
    <v-container fill-height>
        <v-row align="center">
            <v-col cols="12">
                <h4 class="display-3">Games Demo</h4>
                <span class="subheading">This is a simple app built with <a href="https://vuegwt.github.io/vue-gwt/" target="_blank">vue-gwt</a> and <a
                        href="https://vuetifyjs.com/en/" target="_blank">vuetify</a> in a gradle build system environment backed by webpack.</span>
                <v-divider class="my-3"></v-divider>
            </v-col>
        </v-row>
    </v-container>
</v-responsive>